<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="blct.china.service.sticker.dao.StickerMapper" >
  <resultMap id="BaseResultMap" type="blct.china.service.sticker.entity.Sticker" >
    <id column="stickerid" property="stickerid" jdbcType="INTEGER" />
    <result column="message" property="message" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="valid" property="valid" jdbcType="TINYINT" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    stickerid, message, createtime, valid, nickname, userid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="blct.china.service.sticker.entity.StickerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from blct_sticker
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from blct_sticker
    where stickerid = #{stickerid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from blct_sticker
    where stickerid = #{stickerid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="blct.china.service.sticker.entity.StickerExample" >
    delete from blct_sticker
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="blct.china.service.sticker.entity.Sticker" >
    insert into blct_sticker (stickerid, message, createtime, 
      valid, nickname, userid
      )
    values (#{stickerid,jdbcType=INTEGER}, #{message,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{valid,jdbcType=TINYINT}, #{nickname,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="blct.china.service.sticker.entity.Sticker" >
    insert into blct_sticker
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stickerid != null" >
        stickerid,
      </if>
      <if test="message != null" >
        message,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="valid != null" >
        valid,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="userid != null" >
        userid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stickerid != null" >
        #{stickerid,jdbcType=INTEGER},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null" >
        #{valid,jdbcType=TINYINT},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="blct.china.service.sticker.entity.StickerExample" resultType="java.lang.Integer" >
    select count(*) from blct_sticker
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update blct_sticker
    <set >
      <if test="record.stickerid != null" >
        stickerid = #{record.stickerid,jdbcType=INTEGER},
      </if>
      <if test="record.message != null" >
        message = #{record.message,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.valid != null" >
        valid = #{record.valid,jdbcType=TINYINT},
      </if>
      <if test="record.nickname != null" >
        nickname = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update blct_sticker
    set stickerid = #{record.stickerid,jdbcType=INTEGER},
      message = #{record.message,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      valid = #{record.valid,jdbcType=TINYINT},
      nickname = #{record.nickname,jdbcType=VARCHAR},
      userid = #{record.userid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="blct.china.service.sticker.entity.Sticker" >
    update blct_sticker
    <set >
      <if test="message != null" >
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null" >
        valid = #{valid,jdbcType=TINYINT},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
    </set>
    where stickerid = #{stickerid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="blct.china.service.sticker.entity.Sticker" >
    update blct_sticker
    set message = #{message,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      valid = #{valid,jdbcType=TINYINT},
      nickname = #{nickname,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=INTEGER}
    where stickerid = #{stickerid,jdbcType=INTEGER}
  </update>
</mapper>